
@model LegoViewModel
<h2>Конструктор пиццы</h2>
<div class="row">
    @*Images of constructor*@
    <div id="images_of_constructor" class="col col-sm-auto" style="position: relative;">
        <img src="~/images/default.png" alt="ASP" class="img-responsive" />
        @foreach (var y in Model.LegoLines)
        {
            <img class="ingredientLayer" src="~/images/@(y.Ingredient.Photo + ".png")" alt="ASP" />
        }

    </div>
    @*List of ingredients part*@
    <div class="col col-md" id="list_of_ingredients">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">Вес</th>
                    <th scope="col">Стоимость</th>
                    <th scope="col">Кол-во</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var z in Model.LegoLines)
                {
                    <tr>
                        <td>@z.Ingredient.Name</td>
                        <td>@z.Ingredient.Weight</td>
                        <td>@z.Ingredient.Price.ToString("c")</td>
                        <td>@z.Quantity</td>
                        <td>
                            <button type="button" class="close" aria-label="Close"
                                    onclick="removeItem(@z.Ingredient.IngredientID)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*<button type="button" class="btn btn-primary btn-lg btn-block" onclick="addCustomPizzaToCart()" style="background-color: #dc88a2;">Добавить в корзину</button>*@
        <form asp-action="AddToCart" method="post">
            <input class="btn btn-primary btn-lg btn-block" style="background-color: #dc88a2;" type="submit" value="Оформить" />
        </form>
    </div>
</div>
<div class="row mt-4">

    @foreach (var i in Model.Ingredients)
    {
        @Html.Partial("IngredientSummary", i)
    }
</div>
