@model CartIndexViewModel
<h2>Ваша корзина</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Кол-во</th>
            <th>Наименование</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Стоимость</th>
            <th class="text-left">Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-left">@line.Product.Name</td>
            <td class="text-right">@line.Product.Price.ToString("c")</td>
            <td class="text-right">
                @((line.Quantity * line.Product.Price).ToString("c"))
            </td>
            <td>
                <form asp-action="RemoveFromCart" method="post">
                    <input type="hidden" name="ProductID"
                           value="@line.Product.ProductID" />
                    <input type="hidden" name="returnUrl"
                           value="@Model.ReturnUrl" />
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                    
                </form>
            </td>
        </tr>
        @foreach(var i in Model.Cart.Lines)
        { 
            @foreach (var z in i.Product.ProductIngredients.Where(n => n.ProductID == line.Product.ProductID))
            {
                <tr><td></td><td class="bg-warning">@z.Ingredient.Name</td></tr>
            } 
        }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Общая стоимость:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <form asp-action="Checkout" method="post">
        <input class="btn btn-primary" type="submit" value="Оформить" />
    </form>
</div>


