@model LastViewModel
@{
    ViewBag.Title = "Заказы";
    Layout = "_AdminLayout";
}

<table class="table table-striped table-bordered table-sm">
    <tr><th>ID</th><th>Дата/Время</th><th colspan="2">Детали</th></tr>
    @foreach (Order o in Model.Orders)
    {
        <tr>
            <td>@o.OrderID</td>
            <td>@o.DateTime</td>
            <th>Пицца</th>
            <th>Кол-во</th>
        </tr>
        @foreach (ProductOrder line in o.ProductOrder)
        {
            <tr>
                <td colspan="2"></td>
                <td>@line.Product.Name</td>
                <td>@line.Quantity</td>
            </tr>
            @foreach (var i in Model.ProductIngredients.Where(i => i.ProductID == line.ProductID)) { <tr><td></td><td></td><td class="bg-warning">@i.Ingredient.Name</td></tr>}
        }
    }
</table>